@page "/detailedJobPage"
@inherits DetailedJobComponentBase;
<div class="content">
    <a href="/">
        Go back to search
    </a>
    <div class="columns">
        <div class="column is-full">
            <div class="tile is-parent">
                <div class="tile is-child box">

                    <h class="title">Description</h>

                    <p>@Job.Type / @Job.Location</p>
                    <p>@Job.Title</p>
                    <hr />

                    @((MarkupString)(Job.Description))
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box notification is-info">
                        <p class="title">How to Apply</p>
                        @((MarkupString)(Job.HowToApply))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>